body {
  background: #ffe6f2;
  font-family: Arial;
}

.nav {
  background: hotpink;
  padding: 15px;
}

.nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

.points {
  float: right;
  background: white;
  color: hotpink;
  padding: 5px 10px;
  border-radius: 20px;
}

.box {
  background: white;
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 120px;
}
